@import "../variables";

.tabs {
  ul {
    flex: 0 0 auto;
    width: auto;
    display: flex;

    li {
      padding: 20px;
      background-color: $white;

      font-size: 12px;

      text-align: center;
      text-transform: uppercase;
      font-weight: 600;

      border-right: 1px solid $border-color-grey;
      border-top: 1px solid $border-color-grey;
      border-bottom: 1px solid $border-color-grey;

      &:first-child {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }

      &:last-child {
        border-right: 0;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        border-right: 1px solid $border-color-grey;
      }

      &:hover {
        cursor: pointer;
        background: $bg-color-active-hover;
      }

      &.active {
        background-color: $blue;
        color: #fff;
        font-weight: normal;
      }
    }
  }
}
