/* Variables */
$black: #4A4A4A;
$white: #fff;
$blue: #2F80ED;
$grey: #A0B0B9;

$border-color-grey: #DFE5EC;

$border-radius: 5px;

$bg-color-active-hover: lighten($blue, 41%);

$box-shadow: 0 2px 2px rgb(0 0 0 / 3%), 0 4px 4px rgb(0 0 0 / 3%);
