@import "../../variables";

.ticket {
  background: $white;
  border: 1px solid $border-color-grey;
  border-radius: $border-radius;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: $box-shadow;

  &-header {
    margin-bottom: 25px;
  }

  &-price {
    color: $blue;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
  }

  &-direction {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-info {
    & .top {
      text-transform: uppercase;
      color: lighten($grey, 8%);
      font-weight: 500;
      font-size: 12px;
    }

    & .bottom {
      font-weight: 700;
      font-size: 15px;
    }
  }

}
