<div class="ticket">
  <div class="ticket-header row">
    <div class="col-md-8">
      <span class="ticket-price">{{ticket.price | getPrice}}</span>
    </div>
    <div class="col-md-4">
      <img src="http://pics.avs.io/99/36/{{ticket.carrier}}.png" alt="">
    </div>
  </div>
  <div class="ticket-info">
    <div class="ticket-direction row">
      <div class="col-md-4">
        <div class="top">MOW - HKT</div>
        <div class="bottom">10:45 - 08:00</div>
      </div>
      <div class="col-md-4">
        <div class="top">В пути</div>
        <div class="bottom">21ч 15м</div>
      </div>
      <div class="col-md-4">
        <div class="top">2 пересадки</div>
        <div class="bottom">HKG,JNB</div>
      </div>
    </div>
    <div class="ticket-direction row">
      <div class="col-md-4">
        <div class="top">mow - HKT</div>
        <div class="bottom">11:20 - 00:50</div>
      </div>
      <div class="col-md-4">
        <div class="top">в пути</div>
        <div class="bottom">13ч 30м</div>
      </div>
      <div class="col-md-4">
        <div class="top">1 пересадка</div>
        <div class="bottom">HKG</div>
      </div>
    </div>
  </div>
</div>
